<!doctype html>
<html lang="en">
    <head>
        <title>LexiCube</title>
        <link rel="shortcut icon" type="image/ico" href="favicon.ico" />
        <link rel="stylesheet" href="stylesheets/cube.css" />
    </head>
    <body>
        <div class="topBar">
          <img id="lexiLogo" src="images/logo.png" />
          <iframe id="nodeVote" src="http://nodeknockout.com/iframe/breakfast-club" frameborder="0" scrolling="no" allowtransparency="true" width="115" height="25"></iframe>
        </div>
        
      <div id="wrapper">
      
      <div id="faceInfo"></div>
        
			<div id="flipRight" class="foundicon-right-arrow"></div>
			<div id="flipLeft" class="foundicon-left-arrow"></div>
			<div id="flipUp" class="foundicon-up-arrow"></div>
			<div id="flipDown" class="foundicon-down-arrow"></div>
        
            <section id="threeDspace">
                <div id="cube">
                    <div class="face" id="front"></div>
                    <div class="face" id="back"></div>
                    <div class="face" id="right"></div>
                    <div class="face" id="left"></div>
                    <div class="face" id="top"></div>
                    <div class="face" id="bottom"></div>
                </div>
            </section>

            <section id="clue">

        	</section>
            <section id="show-buttons">
              <button class="show-front">Show Front (1)</button>
              <button class="show-back">Show Back (2)</button>
              <button class="show-right">Show Right (3)</button>
              <button class="show-left">Show Left (4)</button>
              <button class="show-top">Show Top (5)</button>
              <button class="show-bottom">Show Bottom (6)</button>
            </section>
        

        <div id="chat-window">
	        <div class="user-list">
				<b>Online Players</b>
				<div id="users"></div>
			</div>
			<div id="conversation"></div>
			<div id="input">
				<input id="data" style="width:220px;" />
				<input type="button" id="datasend" value="Send" />
				</div>
        </div>
        </div>

        <script src="http://code.jquery.com/jquery.min.js"></script>
        <script src="scripts/cube.js"></script>
        <script src="/socket.io/socket.io.js"></script>
       	<script src="scripts/main.js"></script>
    </body>
</html>