<!doctype html>
<html lang="en">
    <head>
        <title>LexiCube</title>
        <link rel="shortcut icon" type="image/ico" href="favicon.ico" />
        <link rel="stylesheet" href="stylesheets/cube.css" />
    </head>
    <body>
        <div class="topBar">
          <img id="lexiLogo" src="images/logo.png" />
          <iframe id="nodeVote" src="http://nodeknockout.com/iframe/breakfast-club" frameborder="0" scrolling="no" allowtransparency="true" width="115" height="25"></iframe>
        </div>
        <div id="wrapper">

            <img class="introCube" src="images/cube.png" title="LexiCube" />
            
            <div class="introInstructions">
            
                <h1>Welcome to LexiCube!</h1>
                
                <p>LexiCube is a multiplayer 3D crossword game.</p>
                
                <p>Spin the cube with the arrow buttons. Click on an empty square to see its clue. Click again to switch between down and across clues.</p>
                
                <p>Answers turn <span class="correctWord">GREEN</span> when they are correct. Correct letters are locked and cannot be changed.</p>
                
                <p>Get points for completing words faster than your opponents! Longer words get you more points!</p>
            
                <form action="/register" method="post">
                        <strong><label for="username">What's your name?</label></strong><br/>
                        <input type="text" name="username"/>
                        <input type="submit" value="Play!"/>
                </form>
            </div>
        </div>
        <script src="http://code.jquery.com/jquery.min.js"></script>
    </body>
</html>